# Node.js allgemein
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Umgebungsdateien
.env
.env.*.local

# Logs
logs
*.log
*.log.*

# OS-spezifisch
.DS_Store
Thumbs.db

# Editor-spezifisch
.vscode/*
!.vscode/extensions.json
.idea/

# Optional: Test-/Build-Artefakte
dist/
dist-ssr/
build/
coverage/

# Dependencies
.vite/*

# Frontend (z. B. React, Vue, etc.)
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/

# Backend (z. B. Express, NestJS, etc.)
backend/node_modules/
backend/.env
backend/dist/
backend/build/

# Sonstiges
*.tgz
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?